# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
      name = Annalisa Boerner
      email = annalisa.boerner@gmail.com
~                                                                                                                       
~                                                                                                                       
~                                                                                                                       
~                                                                                                                       
~                                                                                                                       
~                                                                                                                       
~                                                                                                                       
~                                                                                                                       
"~/.gitconfig" 5L, 155B