/* formatting for header */

header {
    background-color: white;
    padding: 1px;
    height: 50px;
    font-weight: lighter;
}

.floatMarginLeft {
    margin-left: 1rem;
}

.floatMarginRight {
    margin-right: 1rem;
}

/* footer stuff  */

footer {
    background-color: rgb(214, 214, 214);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.25rem;
    margin-top: 1rem;
    position: absolute;
    width: 100%;
    height: 4rem;
    opacity: 80%;
}

.padding_needed {
    padding-top: 1rem;
}

.github {
    padding-top: 1rem;
}

.CatButton {
    margin-top: 2rem;
}

/* general text formatting */

a {
    color: #385163;
    font-size: 2rem;
}
h1 {
    font-weight: lighter;
    font-size: larger;
}

html {
    font-family: "Roboto Condensed";
}

.homePage {
    border-bottom: 1px solid black;
    display: block;
    margin: auto;
    width: 40vw;
}

footer {
    background-color: white;
    display: block;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}

.padding_needed {
    padding: 10px;
}

h2 {
    text-align: center;
    font-size: 2rem;
    font-weight: lighter;
}

h3 {
    text-align: center;
    font-size: 1.5rem;
    font-weight: lighter;
}

p,
ul {
    font-size: 1.25rem;
}

.flexy {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
}

.part3img,
.part2img,
.part1img {
    width: 25vw;
}

#part1text,
#part3text,
#portfolio-text-1 {
    width: 50vw;
    line-height: 1.4;
    margin-left: 3rem;
}

#part2text,
#portfolio-text-2 {
    margin-top: 5rem;
    margin-left: 5rem;
    width: 45vw;
    line-height: 1.4;
}
#about-me {
    margin: 5rem;
}

#home-page-text {
    margin: auto;
    width: 60vw;
}

#spells-image-1,
#abs-list-image {
    width: 45vw;
    margin-top: 5rem;
}

#portfolio1img {
    width: 25vw;
    margin-top: 5rem;
    margin-right: 10rem;
}
