/* formatting for header */

header {
    background-color: white;
    padding: 1px;
    height: 50px;
    font-weight: lighter;
}

.floatMarginLeft {
    margin-left: 1rem;
}

.floatMarginRight {
    margin-right: 1rem;
}


/* footer stuff  */

footer {
    background-color: rgb(214, 214, 214);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.25rem;
    margin-top: 1rem;
    position: absolute;
    width: 100%;
    height: 4rem;
    opacity: 80%;
}

.padding_needed {
    padding-top: 1rem;
}

.github {
    padding-top: 1rem;
}

.CatButton {
    margin-top: 2rem;
}

/* general text formatting */

a {
    color: #385163;
    font-size: 2rem;
}

h1 {
    font-weight: lighter;
    font-size: larger;
}

html {
    font-family: "Roboto Condensed";
}

#homePagePic {
    border-bottom: 1px solid black;
    display: block;
    margin: auto;
    width: 40vw;
}

footer {
    background-color: white;
    display: block;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}

.padding_needed {
    padding: 10px;
}

h2 {
    text-align: center;
    font-size: 2rem;
    font-weight: lighter;
}

h3 {
    text-align: center;
    font-size: 1.5rem;
    font-weight: lighter;
}

p,
ul {
    font-size: 1.25rem;
}

.flexy {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
}

/* Formatting on other pages */

#aboutImg3,
#aboutImg2,
#aboutImg1 {
    width: 25vw;
}

#aboutImg0 {
    width: 35vw;
    height: 30vw;
}

#aboutText1,
#aboutText3,
#portfolio-text-1 {
    width: 50vw;
    line-height: 1.4;
    margin-left: 3rem;
}

#aboutText2,
#portfolio-text-2,
#portfolio-text-0,
#aboutText0 {
    margin-top: 5rem;
    margin-left: 5rem;
    width: 45vw;
    line-height: 1.4;
}

#about-me {
    margin: 5rem;
}

#home-page-text {
    margin: auto;
    width: 60vw;
}

#spells-image-1,
#abs-list-image {
    width: 45vw;
    margin-top: 5rem;
}

#portfolio1img,
#portfolio2img,
#portfolio3img,
#portfolio0img {
    width: 40vw;
    margin-top: 5rem;
    margin-right: 10rem;
}

.footerText {
    font-size: 1rem;
}

@media screen and (max-width: 568px) {

    #about-me,
    #portfolio,
    #homePage,
    .flexy {
        display: block;

        padding: 0;
        margin: 0;
        gap: 0;
    }

    .titleLink {
        font-size: 1.5rem;
    }

    #homePagePic {
        width: 100vw;
        border-bottom: 1px solid black;
    }

    #about-me {
        margin: 0;
    }

    #aboutImg0 {
        width: 80vw;
        height: 40vw;
        padding-bottom: 2rem;
        margin: auto;
    }

    #aboutImg2,
    #portfolio1img {
        padding-bottom: 2rem;
        margin: auto;
    }

    #aboutText0,
    #aboutText1,
    #aboutText2,
    #aboutText3,
    #portfolio-text-1,
    #portfolio-text-2,
    #portfolio-text-0,
    #part2title,
    #aboutImg3,
    #aboutImg2,
    #aboutImg1 {
        width: 80vw;
        line-height: 1.4;
        margin: auto;
    }

    #aboutImg3,
    #aboutImg2,
    #aboutImg1,
    #aboutImg0 {
        padding-left: 2rem;
    }

    #portfolio1img,
    #portfolio2img,
    #portfolio3img,
    #portfolio0img {
        width: 90vw;
        padding-left: 1rem;
        margin: 0;
    }

    #headerName {
        font-size: 1.5rem;
    }

    #aboutTitle,
    #portfolioTitle,
    #homePageTitle {
        font-size: 2rem;
        display: block;
        margin: auto;
        padding-top: 2.5rem;
        padding-bottom: 0.5rem;
    }

    a {
        display: block;
        font-size: 1rem;
    }

    footer {
        display: flex;
        width: 100vw;
    }
}